* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/train.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 1rem;
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.537);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 40%;
  height: 40%;
  display: flex;
  background-color: white;
  padding: 0 20px;
  align-self: center;
}

.textField {
  border: none;
  outline: none;
  width: 100%;
  margin-right: 20px;
  font-size: 20px;
}

.magnifier {
  width: 5%;
  align-self: center;
  height: 30px;
  cursor: pointer;
}

.logotypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 60px;
}

.logotypeText {
  color: white;
  font-size: 4rem;
}

.logoCat {
  width: 15%;
  padding-bottom: 20px;
}

.main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.postContainer {
  width: 50%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.582);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.postWrapper {
  width: 100%;
  height: 80%;
  margin: auto 0px;
  padding: 0 1rem 0 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.postWrapper::-webkit-scrollbar {
  width: 8px;
  height: auto;
}
.postWrapper::-webkit-scrollbar-track {
  background: #f1f1f100;
}
.postWrapper::-webkit-scrollbar-thumb {
  background: green;
}
.postWrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.paginationContainer {
  background-color: green;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
}

.paginationWrapper {
  display: flex;
  justify-content: space-around;
  width: 250px;
  padding: 0 20px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.paginationItem:hover {
  color: white;
}

.rightBtn {
  width: 60px;
  transform: rotate(-35deg);
  cursor: pointer;
}

.leftBtn {
  transform: rotate(-215deg);
  width: 60px;
  cursor: pointer;
}

.post {
  height: 60%;
  padding: 20px 20px 0px 20px;
  border: 4px solid green;
  margin: 20px 0px;
  color: white;
}

.postAuthor {
  text-overflow: ellipsis;
  border-bottom: 2px solid green;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.postName {
  border-bottom: 4px solid green;
  border-top: 4px solid green;
  background-color: yellow;
  color: green;
  padding-left: 20px;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: all 1s;
}

.redirectBtn {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: underline;
  background-color: #00000000;
  border-radius: 3px;
  width: 10%;
  margin-right: 1rem;
  height: 40px;
  align-items: center;
  transition: background-color 1s;
}

.deleteBtn {
  cursor: pointer;
  background-color: #00000000;
  border-radius: 3px;
  width: 25%;
  height: 40px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.deleteBtn:hover {
  background-color: red;
  transition: background-color 1s;
}

.editBtn {
  cursor: pointer;
  background-color: #00000000;
  border-radius: 3px;
  width: 25%;
  height: 40px;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.editBtn:hover {
  background-color: orange;
  transition: background-color 1s;
}

@media screen and (max-width: 450px) {
  .redirectBtn {
    width: 16px;
    font-size: 1rem;
    margin: 0;
  }
  .deleteBtn {
    width: 16px;
    font-size: 1rem;
    margin: 0;
  }
  .editBtn {
    width: 16px;
    font-size: 1rem;
    margin: 0;
  }
  .btnContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    transition: all 1s;
  }
  .post {
    height: 100%;
    width: 100%;
    word-wrap: break-word;
    padding: 20px 20px 0px 20px;
    border: 4px solid green;
    margin: 20px 0px;
    color: white;
  }
  .postContainer {
    width: 80%;
  }
  .main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search {
    width: 80%;
    display: flex;
    background-color: white;
    padding: 0 20px;
    margin-top: 1rem;
    align-self: center;
  }
  .logotypeText {
    color: white;
    font-size: 1rem;
  }
  .header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.537);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .postBody {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
  }
}
